extends ./layout/default.pug

block title
	.jumbotron
		h1 회원가입
block content
	.h-75.my-3.p-3.border.rounded.d-flex.justify-content-center.align-items-center(style="margin: auto;")
		form(action="/users/join" method="post" style="width: 300px;")
			h2 회원가입
			.py-2
				span - 아이디 
				input.form-control(type="text" name="userid")
			.py-2
				span - 패스워드
				input.form-control(type="password" name="userpw")
			.py-2
				span - 이름
				input.form-control(type="text" name="username")
			.py-2.text-center
				button.btn.btn-primary.mr-1 가입
				button.btn.btn-danger(type="reset") 다시작성
